body {
    font-family: Hack, monospace;
    font-size: 15px;
}

nav,aside {
    font-size: 13px;
}

h1 {
    font-size: 1,25rem;
}

h2 {
    font-size: 1,15rem;
}

h3 {
    font-size: 1,05rem;
}

h4 {
    font-size: 0,9rem;
}

h5 {
    font-size: 0,80rem;
}

h6 {
    font-size: 0,75rem;
}

.img-sm {
    max-height: 300px;
}

.img-sm img{
    max-height:300px
}

.img-lg {
    max-height: 500px;
}

.img-lg img{
    max-height:500px
}

#main.wrapper{
    margin-top: 80px;
}


